### To reproduce this notebook, you can use [google colab](https://colab.research.google.com/github/georgianpartners/notebooks/blob/master/MultiCategoricalEncoder.ipynb)

# Multiple Categorical Encoding Problem

In Machine Learning, we often have features given not as continuous but categorical values. We can use LabelEncoder and OneHotEncoder from scikit-learn library to properly encode categorical features to numerical values before feeding the data into an ML algorithm. See this [scikit-learn Guilde](http://scikit-learn.org/stable/modules/preprocessing.html#encoding-categorical-features) for more details.

In a more complex scenario, each value in a feature column might contain a delimited list of categories. In the following example, the industry column contains comma separated industry catetories.

In [0]:
import pandas as pd
data = pd.DataFrame([['SaaS,Health Care'], ['SaaS, Enterprise Software'], ['Health Care, Enterprise Software'], ['Finance Software']], columns=['industry'])
data

                           industry
0                  SaaS,Health Care
1         SaaS, Enterprise Software
2  Health Care, Enterprise Software
3                  Finance Software

Ideally, we would like to encode such feature in a way similar to one-hot-encoding so that each category get its own column but a sample can get multiple '1's for each category it has in its list. Here is an example of such encoding.

In [0]:
encoding = pd.DataFrame([
    [1, 1, 0, 0],
    [1, 0, 1, 0],
    [0, 1, 1, 0],
    [0, 0, 0, 1]
], columns=['industry_SaaS', 'industry_Health Care', 'industry_Enterprise Software', 'industry_Finance Software'])
encoding

,industry_SaaS,industry_Health Care,industry_Enterprise Software,industry_Finance Software
0,1,1,0,0
1,1,0,1,0
2,0,1,1,0
3,0,0,0,1

The same transformer instance can then be used to encode other samples.

In [0]:
prediction_data = pd.DataFrame([['Enterprise Software, Finance Software']], columns=['industry'])
prediction_data

                                industry
0  Enterprise Software, Finance Software

In [0]:
prediction_data_encoded = pd.DataFrame([
    [0, 0, 1, 1]
], columns=['industry_SaaS', 'industry_Health Care', 'industry_Enterprise Software', 'industry_Finance Software'])
prediction_data_encoded

,industry_SaaS,industry_Health Care,industry_Enterprise Software,industry_Finance Software
0,0,0,1,1

# Task

Scikit-learn does not have a built-in transformer to handle such situations. Please create a scikit-learn compatible transformer for such an encoding task. 

Here are some other requirements:
1. The code should be wrapped in a scikit-learn compatible transformer class
1. The transformer should be able to handle different delimiters
1. The transformer should be able to handle large amount of categories in a column, with the option to collapse less frequent categories
1. The transformer should be able to handle multiple categorical columns in the same input DataFrame. For example, `industry` and `office_locations`. You may want to start with handling one column first to get a feel for the solution.
1. Please show the various test inputs you used to test your implementation
1. Please test the runtime performance of your implementation. Does it scale well?